* {
	font-family: 'Oswald', sans-serif;
}
body {
	background-color: #2274A5;
	height: 100%;
	margin: 0px;
    overflow:hidden;
}
div {
	width: 100%;
}
.header{
	background-color: #fff; 
    position: fixed;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    top: 0px;
}
.footer{
	background-color:  #F1C40F;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    position: fixed;
    bottom: 0px; 
    margin-top: 50px;
}
.middle {
	background-color: #2274A5;
	padding-top: 125px;
	padding-left: 5px;

}

.tri{
	background-color: #F1C40F;
}
#tri1 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #F1C40F;
    position: relative;
    left: 80%;
    top: 80px;
}
#tri2 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #F1C40F;
	position: relative;
	left: 65%;
	top: -50px;

}
#tri3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #F1C40F;
	position: relative;
	left: 72.5%;
}

#irt1 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #F1C40F;
	position: relative;
	top: -100px;
	left: 80%;
}
#irt2{
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #F1C40F;
	position: relative;
	top: -200px;
	left: 65%;
}
#irt3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #F1C40F;
	position: relative;
	top: -450px;
	left: 72.5%;
}

#tri-text{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}
/*
tall skinny triangle
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 75px solid #F1C40F;

tall skinny triangle
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 75px solid #F1C40F;
*/


/*
normal equallateral triangle
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #F1C40F;

normal equallateral triangle
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #F1C40F;
*/